<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	">
    <bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >  
	    <property name="messageConverters">  
	         <list>  
	             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">  
	                <property name = "supportedMediaTypes">  
	                     <list>  
	                         <value>text/html;charset=UTF-8</value>  
	                     </list>  
	                </property>  
	             </bean>  
	         </list>  
	    </property>  
	</bean>      
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy/>
	<bean  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="classpath:dbconf.properties"/>
	<!-- 游戏热数据数据源配置 -->
	<bean id="dataSource" 
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="${driverClassName}"
		p:url="${url}"
		p:username="${username}"
		p:password="${password}"
		p:initialSize="${initialSize}"
		p:maxActive="${maxActive}"
		p:maxIdle="${maxIdle}"
		p:minIdle="${minIdle}"/>
		
	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="find*" propagation="REQUIRED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!--
		<aop:advisor pointcut="execution(* com.crystalcg.gamedev..service.*Service.*WithTx(..))" advice-ref="txAdvice"/>
		-->
			 <aop:advisor pointcut="execution(* com.crystalcg.gamedev..service.*Service.*(..))" advice-ref="txAdvice"/>
	</aop:config>
	
	<bean id="serviceLocator" class="com.crystalcg.gamedev.util.ServiceLocator" factory-method="createInstance"></bean>
	
	<bean id="dynamicJsonFilterAdvice" class="com.crystalcg.gamedev.util.jsonFilter.JsonFilterAdvice"/>  
    <aop:config>  
        <aop:aspect id="jsonFilterAspect" ref="dynamicJsonFilterAdvice">  
            <aop:pointcut id="jsonFilterPointcut" expression="execution(* com.crystalcg.gamedev..action..*(..))"/>  
            <aop:around pointcut-ref="jsonFilterPointcut" method="doAround"/>  
        </aop:aspect>  
    </aop:config>  
	
	<bean id="exceptionResolver" class="com.crystalcg.gamedev.Exception.AjaxExceptionHandler">  
	</bean>
	
	<!-- 配置cometD -->
	<bean id="bayeux" class="org.cometd.server.BayeuxServerImpl" init-method="start" destroy-method="stop">
        <property name="options">
            <map>
                <entry key="logLevel" value="3" />
                <entry key="timeout" value="5000" />
            </map>
        </property>
        <property name="transports">
            <list>
                <bean id="websocketTransport" class="org.cometd.websocket.server.WebSocketTransport">
                    <constructor-arg ref="bayeux" />
                </bean>
                <bean id="jsonTransport" class="org.cometd.server.transport.JSONTransport">
                    <constructor-arg ref="bayeux" />
                </bean>
                <bean id="jsonpTransport" class="org.cometd.server.transport.JSONPTransport">
                    <constructor-arg ref="bayeux" />
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="org.cometd.bayeux">
                    <ref local="bayeux" />
                </entry>
            </map>
        </property>
    </bean>

    <import resource="static-dbconf.xml" />
	<import resource="cache.xml" />
	<import resource="account.xml" />
	<import resource="character.xml" />
	<import resource="maincity.xml" />
	<import resource="building.xml" />
	<import resource="userItem.xml"/>
	<import resource="auction.xml"/>
	<import resource="mail.xml"/>
	<import resource="buildingFunction.xml"/>
	<import resource="market.xml"/>
	<import resource="userHero.xml"/>
	<import resource="equipStrengthen.xml"/>
	<import resource="gemstone.xml"/>
	<import resource="embedStone.xml"/>
	<import resource="equipDesign.xml"/>
	<import resource="item.xml"/>
	<import resource="friend.xml"/>
	<import resource="resource.xml"/>
	<import resource="battle.xml"/>
	<import resource="interiorTech.xml"/>
	<import resource="soldierTech.xml"/>
	<import resource="wallDefensen.xml"/>
	<import resource="formationTech.xml"/>
	<import resource="alliance.xml"/>
	<import resource="battleProcess.xml"/>
	<import resource="comet.xml"/>
	<import resource="world.xml"/>
	<import resource="chat.xml"/>
	<import resource="materialFuse.xml"/>
	<import resource="ranking.xml"/>
	<import resource="quest.xml"/>
<!-- 	<import resource="quartz.xml"/> -->
	


	<import resource="battleSuburb.xml"/>
	<!--
	<import resource="hero.xml"/>
	<import resource="useItem.xml"/>
	<import resource="barracks.xml"/>
	<import resource="privycouncil.xml"/>
	<import resource="centrestage.xml"/>
	<import resource="house.xml"/>
	<import resource="beacon.xml"/>
	<import resource="hospital.xml"/>
	<import resource="refreshServerTime.xml"/>
	 -->
</beans>
